Chapter 2 Exercises

Exercise 1

In [3]:
name = input('Enter your name: ')
print('Hello', name)

Enter your name: Grace
Hello Grace

EXERCISE 2

In [4]:
float_hours = float(input('Enter Hours: '))
float_rate = float(input('Enter rate:'))
pay = (float_hours*float_rate)
print("Pay:", pay)

Enter Hours: 10
Enter rate:300
Pay: 3000.0

EXERCISE 3

In [5]:
width = 17
height = 12.0

print (width//2, (type(width//2)))
print (width/2.0, (type(width/2.0)))
print (height/3, (type(height/3)))
print (1 + 2 * 5, (type(1 + 2 * 5)))

8 <class 'int'>
8.5 <class 'float'>
4.0 <class 'float'>
11 <class 'int'>

In [6]:
number = int (input('Enter a number:'))
square = number*number
print("The square of", number, "is",square)

Enter a number:5
The square of 5 is 25

EXERCISE 4

In [7]:
number = float (input("Enter number: "))
square = number * number
print(f"the square of {number} is {square}")

Enter number: 3
the square of 3.0 is 9.0

CHALLENGE

In [8]:
celsius = int (input("Enter Celsius: "))
fahrenheit = (celsius * (9/5)) + 32
print (celsius, "celsius is", fahrenheit, "in fahrenheit")

Enter Celsius: 23
23 celsius is 73.4 in fahrenheit